#nav{
    text-align: center;
}
#nav ul{
    list-style: none;
    background-color: rgb(197, 197, 197);
}

#nav ul li{
    display: inline-block;

}

#nav li{
    padding: 20px 60px;


}

#nav a:link, #nav a:visited{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 19px;

}

#nav li:hover{
    background-color: black;
    color: white;
}
